:root {
  --color-text: #1c444b;
  --color-text-title: #419daf;
  --color-text-title-hover: #74bdcb;
  --color-text-light: #fff;
  --color-bg: #d8e3ec;
  --color-bg-light: #f2f6f9;
  --color-accent: #41af8a;
  --color-accent-hover: #38b88d;
  --color-warning: #ffa384;

  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--color-bg);
  color: var(--color-text);
}

header,
main {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-bg-light);
}

header,
main,
div {
  box-sizing: border-box;
}

ul,
p,
h2 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-accent);
}

button {
  height: 2rem;
  border: none;
  border-radius: 2px;
  background-color: var(--color-accent);
  font-size: 1.2rem;
  color: var(--color-text-light);
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: var(--color-accent-hover);
}

button:disabled {
  cursor: default;
  background-color: var(--color-bg);
  filter: grayscale(0.5);
}
