.cards-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cards:empty {
  color: #c6c6c6;

  &::before {
    content: 'There are no users here yet';
  }
}
